<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cxm.simpletools" >

    <application
        android:allowBackup="true"
        android:name=".APP"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".IndexActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ui.HearActivity"/>
        <activity android:name=".ui.MainActivity"/>
        <activity android:name=".ui.TextCusActivity"/>
        <activity android:name=".ui.ShaderActivity"/>
        <activity android:name=".ui.GirEffectActivity"/>
        <activity android:name=".ui.DreamActivity"/>
        <activity android:name=".ui.MatrixActivity"/>
        <activity android:name=".ui.MultiCricleActivity"/>

        <!--<meta-data-->
            <!--android:name="UMENG_CHANNEL"-->
            <!--android:value="${UMENG_CHANNEL_VALUE}" />-->
    </application>

</manifest>
